.current-issue p {
    text-align: left;
    color: #707070;
    margin: 10px 0px;
}

.current-issue p span {
    color: #959595;
    display: inline-block;
    margin-left: 15px;
}

.current-issue .indv-issue {
    position: relative ;
}

.current-issue .close-issue {
    position: absolute;
    top: 0;
    right: 0;
    color: #959595;
    margin-top: 0px;
    font-weight: bold;
}

.current-issue .description {
    color: #959595;
}

.current-issue hr {
    boarder: none;
    background: #989898;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}